* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #0e0e0e;
}

.slider-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 300px;
    overflow: hidden;
    cursor: grab;
}
.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr); /*we have 10 imgs so repeat 10 times 1 fr*/
    column-gap: 2rem;
    pointer-events: none;
}
.slider-item {
    width: 300px;
    height: 100%;
}
.slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}